<!DOCTYPE html>
<html>
	<head>
		<link href="/css/main.css" media="screen" type="text/css" rel="stylesheet"/>
	</head>
	<body>
		<h1 id="homeTitle">List of items</h1>
		<table>
			<tr>
				<th>Auction #</th>
				<th>Auction Type</th>
				<th>Seller</th>
				<th>Description</th>
				<th>Category</th>
			</tr>
			<% for(var ind in items) { %>
			<tr>
				<td><%=items[ind].id %></td>
				<td><%=items[ind].title %></td>
				<td><%=items[ind].author %></td>
				<td><%=items[ind].body %></td>
				<td><%=items[ind].category_id %></td>
			</tr>
			<% } %>
		</table>
	</body>
</html>