<!DOCTYPE html>
<html ng-app="myAngularApp">
	<head>
		<script src="Scripts/angular.js"></script>
		<script src="app.js"></script>
		<link href="main.css" type="text/css" rel="stylesheet"/>
		<img src="/img/LogoCN.png" alt="LogoCN" height="60" width="100">
	</head>
	<body ng-controller="auctionController">
		<!-- The {{item.title}} id sold by {{item.author}}: {{item.body}} -->
		<table>
			<tr>
				<th>Auction #</th>
				<th>Auction Type</th>
				<th>Seller</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="item in items | orderBy: 'author'">
			<!-- <tr ng-repeat="item in items"> -->
				<td>{{item.id}}</td>
				<td>{{item.title}}</td>
				<td>{{item.author}}</td>
				<td>{{item.body}}</td>
				<td><a href="#" ng-click="removeItem(item)"><img width="24" src="img/delete.png"/></a></td>
			</tr>
			<tr>
				<td><form name="form"><button ng-click="addItem()">Add</button></form></td>
				<td><input type="text" name="title" value="" id="title" size="20"/></td>
				<td><input type="text" name="author" value="" id="author" size="20"/></td>
				<td><input type="text" name="body" value="" id="body" size="80" /></td>
			</tr>
		</table>
	</body>
</html>