<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<title>Hello from Node & Expess & EJS</title>
		<meta http-equiv="Content-Type" content="text/HTML; charset=UTF-8" />
		<img src="/img/LogoCN.png" alt="LogoCN" height="60" width="100">
	</head>
	<body>
		<p>Hello from Node for</p>
		<ul>
		<% for(var iname in names.slice(1)) { %>
			<li><%=names[iname] %></li>
		<% } %>
		</ul>
	</body>
</html>